


 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat', sans-serif;
}

li {
    list-style: none;
}

img {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    z-index:1;
    position:relative;
    background-color: white;

}   

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.btn{
    padding: 9px 25px;
    background: linear-gradient(to right,hsla(136, 72%, 62%, 0.815),hsla(220, 43%, 80%, 0.692) );
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;

}

.btn:hover{
    color: rgba(67, 139, 233, 0.61);
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 14px;
    color: #475569;
    text-decoration: none;
    
}

.nav-link:hover{
    color: #088a33;
    border-bottom: 2px solid green;
}

.nav-logo {
        margin-left: 100px;
    }



.intro{
    padding: 20px;
    text-align: center;
}
.mobile-image1{
    width:100vw;
    height:auto;
    position: absolute;
}

.mobile-image2{
    width:100%;
    height: auto;
    position: relative;
    margin-top: -10%;
}



/* ---------------------------Next generation digital banking for desktop-------------------------- */

.display2 {
    overflow-x: clip;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom,hsla(240, 9%, 93%, 0.014),hsla(204, 6%, 83%, 0.089));   
}

.leftsec{
width: 300%;
padding: 120px 50px; 
    }

.heading{
    padding: 50px 40px 10px 80px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.801);
    
}

.content {
    padding: 10px 50px 30px 80px;
    font-size: 16px;
    color: rgba(128, 128, 128, 0.719);
}

.btn1{
    padding: 9px 25px;
    background: linear-gradient(to right,hsla(136, 72%, 62%, 0.815),hsla(220, 43%, 80%, 0.692) );
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    margin-left: 75px;
    
}

.btn1:hover{
    color: rgba(67, 106, 233, 0.61);
}

.rightsec{      
    position: relative;
    width: 100%;
    margin-left: -300px;
    margin-right: 330px;
    padding-left: -130px;
    height: 450px;
    justify-content: space-evenly;
    justify-content: flex-end;
    
}

.phones{
    position: absolute;
    width: 750px;
    height: 750px;
    top: -15px;
    background-color: transparent;
    margin: -50px;
    left:200px;
      
}
.bgImage{
    position: absolute;
    width: 110rempx;
    height:800px;
    top: -160px;
    margin: -20px;
    padding-right: 20rem;
    background-color: transparent;
}
.buttonset{
    border-radius: 20px;
    background: linear-gradient(to right ,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    border:limegreen;
    height: 50px;
    width:150px;
    margin-top:15px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* --------------------------------why choose Easybank------------------------------------- */


.display3{
    padding: 60px 120px;
    background-color: rgba(211, 211, 211, 0.356);

}
.top{
    padding: 30px 0px; 
    
}
.easybank{
    padding: 20px 0px;  
    color: rgba(0, 0, 0, 0.774);


}
.content2{
    font-size: 13px;
    color: rgba(71, 69, 69, 0.863);  
}

.icons{
    display: flex;
    justify-content: space-around;
    background-color: transparent;   

}
.icon{
    height: 52px;
    width: 52px;
    
}
h3{
    color: rgba(0, 0, 0, 0.781);
    font-size: 15px;
    

}
.icons p{
    font-size: 11px;
    padding: 0px 30px 10px 5px;
    color: rgba(66, 64, 64, 0.788);
}

/* -------------------------------Latest Articles----------------------------------- */

.articles{
    padding: 0px 130px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;

}
.image{
    height: 50%;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    

}
.heading3{
    padding: 60px 130px 30px 130px;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.726);

}
.card h4{
    font-size: 8px;
    color: rgba(66, 64, 64, 0.788);
}
.card h3{
    font-size: 12px;

}
.card p{
    font-size: 11px;
}
.card h3:hover{
    color:hsl(192, 70%, 51%) ;
}
.image1{
    border-radius:10px;
    margin: 5px; 
    margin-bottom: 60px;
    background-color: white;
 
}
.card, h4, h3, p{
    padding: 5px;
    color: rgba(66, 64, 64, 0.788);
}

/* -----------------------------Footer-------------------------------- */


.footer{
    background-color:  hsl(233, 26%, 24%);
    color: white;
    text-align: center;
    padding: 10px;
}
.footerimg{
    color: white;
    font-size: 13px;
}
.footerimg:hover{
    color:green;
    opacity: 1;
    cursor: pointer;
}

.btn3{
    padding: 9px 25px;
    background: linear-gradient(to right,hsla(136, 72%, 62%, 0.815),hsla(220, 43%, 80%, 0.692) );
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
   margin: 15px;
    
}
.btn3:hover{
    color: rgba(67, 106, 233, 0.61);
}



/* ---------------------------------------------------------------------------- */
 
@media (max-width:750px){
    .display3{
        text-align: center;

    }
    .icons{
        display: flex;
        flex-direction: column;
    }
    .display2{
        display: none;
    }
    .articles{
        display: flex;
        flex-direction: column;
    }

    .footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media(min-width:750px){
    .intro{
        display: none;
    }
    .images{
        display: none;
    }
    .footer{
        display: flex;
        justify-content: space-around;
    }
    .footerlogo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}



/* ------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .btn{
        display: none;
    }
    .nav-logo{
        margin-left:15px;
    }



}

